{extends layout.latte}

{block title}TITLE OF PAGE{/block}

{block body}
    <div class="container">
        <br>

        {if !empty($_SESSION)}
            <row>
                <form style="text-align: center" action="{link logout}" method="post">
                    <input class="btn btn-danger" type="submit" value="Odhlásit">
                </form>
            </row>
            <script> document.write(decodeHTML({$message})); </script>
            <row>
                <form action="{link userEdit}?id={$_SESSION['user']['id_person']}" method="post">
                    <label for="nickname"><font color="red">*</font>Uživatelské jméno: </label>
                    <input id="nickname" class="form-control" type="text" name="nickname" value="{$_SESSION['user']['nickname']}" required>
                    <br>
                    <label for="first_name">Jméno: </label>
                    <input id="first_name" type="text" class="form-control" name="first_name" value="{$_SESSION['user']['first_name']}">
                    <br>
                    <label for="last_name">Příjmení: </label>
                    <input id="last_name" type="text" class="form-control" name="last_name" value="{$_SESSION['user']['last_name']}">
                    <br>
                    <label for="birth_day">Datum narození: </label>
                    <input class="form-control" id="birth_day" name="birth_day" type="date" data-date-inline-picker="false"
                           data-date-open-on-focus="true" value="{$_SESSION['user']['birth_date_formated']}"/>
                    {*select TO_DATE('24.6.1996', 'YYYY-MM-DD');
                    select TO_CHAR(birth_day,'YYYY-MM-DD') birth_date_new from person;*}
                    <br>
                    <label for="height">Výška: </label>
                    <input id="height" type="number" class="form-control" name="height" value="{$_SESSION['user']['height']}">
                    <br>
                    <label for="gender">Pohlaví: </label>
                    <select id="gender" name="gender" class="form-control" >
                        <option {if $_SESSION['user']['gender']=='none'} selected="" {/if} value="none">Neuvedeno
                        </option>
                        <option {if $_SESSION['user']['gender']=='male'} selected="" {/if} value="male">Muž</option>
                        <option {if $_SESSION['user']['gender']=='female'} selected="" {/if} value="female">Žena
                        </option>
                        <option {if $_SESSION['user']['gender']=='other'} selected="" {/if} value="other">Jiné</option>
                    </select> <br>
                    <label for="admin">Administrátor: </label>
                    <input id="admin" name="admin" type="checkbox" {if $_SESSION['user']['admin']} checked="" {/if}
                           disabled="">
                    <br><br>
                    <label for="id_loc">Vaše adresa: </label><br>
                    <select id="id_loc" name="id_loc" class="form-control" >
                        {foreach $location as $address }
                            <option value=' {$address['id_location']}' {if $address['id_location']==$_SESSION['user']['id_location'] } selected="" {/if} >
                                {if $address['name']}{$address['name']} - {/if}
                                {if $address['street_name']}{$address['street_name']}, {/if}
                                {if $address['street_number']}{$address['street_number']}, {/if}
                                {if $address['city']}{$address['city']}, {/if}
                                {if $address['zip']}{$address['zip']}{/if}
                            </option>
                        {/foreach}
                    </select>
                    <br>
                    <input style="margin-top: 30px" class="btn btn-success" type="submit" value="Uložit">
                    <br>
                    <label>Povinné parametry jsou označeny symbolem *</label>
                </form>
            </row>
        {else}
            <div style="text-align: center">
                <br>
                Nejste přihlášen(a). Můžete se přihlásit nebo zaregitrovat:
                <br>
                <br>
                <a href="{link login}" class="btn btn-success">Přihlásit</a><br><br>
                <a href="{link register}" class="btn btn-primary">Zaregistrovat</a>
            </div>
        {/if}
    </div>
{/block}