{extends layout.latte}

{block title}TITLE OF PAGE{/block}

{block body}
    <div class="container">
        <h1>Přidání schůzky</h1>
        <script> document.write(decodeHTML({$message})); </script>
        <row>
            <form action="{link addMeeting}" method="post">
                <label for="start">Start: </label>
                <input id="start" name="start" type="date" data-date-inline-picker="false"
                       data-date-open-on-focus="true" class="form-control"/>
                <br>

                <label for="description">Popis: </label>
                <input id="description" type="text" name="description" class="form-control" required>
                <br>

                <label for="duration">Doba trvání: </label>
                <input id="duration" type="text" name="duration" class="form-control">
                <br>
                <br>
                <label for="id_location">Místo konání: </label><br>
                <select id="id_location" name="id_location" required class="form-control">
                    {foreach $location as $address }
                        <option value=' {$address['id_location']}'>
                            {if $address['name']}{$address['name']} - {/if}
                            {if $address['street_name']}{$address['street_name']}, {/if}
                            {if $address['street_number']}{$address['street_number']}, {/if}
                            {if $address['city']}{$address['city']}, {/if}
                            {if $address['zip']}{$address['zip']}{/if}
                        </option>
                    {/foreach}
                </select><br><br>
                <input class="btn btn-success" type="submit" value="Uložit" >
                <br>
            </form>
        </row>
        <br>
        <a class="btn btn-warning" href="{link meetings}">Storno</a>
    </div>
{/block}