{extends layout.latte}

{block title}LOGIN{/block}

{block body}
    <div class="container">
    <br>
    <div class="col-md-12 col-lg-12 col-sm-12">
        <h3 class="display-4" style="display:inline-block" >Správa adres</h3>
        {if !empty($_SESSION)}<a href="{link addAddr}" style="margin-left: 30px; display:inline-block " class="btn btn-success"> Vytvořit </a><br>{/if}
        <script> document.write(decodeHTML({$message})); </script>
        {if empty($_SESSION)}
            <table class="table table-striped table-hover table-border" border="2">
                <tr>
                    <th><b>Název</b></th>
                    <th><b>Ulice</b></th>
                    <th><b>Číslo popisné</b></th>
                    <th><b>Město</b></th>
                    <th><b>ZIP</b></th>
                    <th><b>Stát</b></th>
                </tr>
                {foreach $addresses as $address}
                    <tr>
                        {if $address['name']}
                            <td>{$address['name']}</td>
                        {else}
                            <td>Nezadané</td>
                        {/if}

                        {if $address["street_name"]}
                            <td>{$address['street_name']}</td>
                        {else}
                            <td>Nezadané</td>
                        {/if}

                        {if $address["street_number"]}
                            <td>{$address['street_number']}</td>
                        {else}
                            <td>Nezadané</td>
                        {/if}

                        {if $address["city"]}
                            <td>{$address['city']}</td>
                        {else}
                            <td>Nezadané</td>
                        {/if}

                        {if $address["zip"]}
                            <td>{$address['zip']}</td>
                        {else}
                            <td>Nezadané</td>
                        {/if}

                        {if $address["country"]}
                            <td>{$address['country']}</td>
                        {else}
                            <td>Nezadané</td>
                        {/if}
                    </tr>
                {/foreach}
            </table>
        {else}
            <table class="table table-striped table-hover table-border" border="2">
                <tr>
                    <th><b>Název</b></th>
                    <th><b>Ulice</b></th>
                    <th><b>Číslo popisné</b></th>
                    <th><b>Město</b></th>
                    <th><b>ZIP</b></th>
                    <th><b>Stát</b></th>
                    <th><b>Editace</b></th>
                    <th><b>Odstranění</b></th>
                </tr>
                {foreach $addresses as $address}
                    <tr>
                        {if $address['name']}
                            <td>{$address['name']}</td>
                        {else}
                            <td>Nezadané</td>
                        {/if}

                        {if $address["street_name"]}
                            <td>{$address['street_name']}</td>
                        {else}
                            <td>Nezadané</td>
                        {/if}

                        {if $address["street_number"]}
                            <td>{$address['street_number']}</td>
                        {else}
                            <td>Nezadané</td>
                        {/if}

                        {if $address["city"]}
                            <td>{$address['city']}</td>
                        {else}
                            <td>Nezadané</td>
                        {/if}

                        {if $address["zip"]}
                            <td>{$address['zip']}</td>
                        {else}
                            <td>Nezadané</td>
                        {/if}

                        {if $address["country"]}
                            <td>{$address['country']}</td>
                        {else}
                            <td>Nezadané</td>
                        {/if}
                        <td>
                            <a class="btn btn-warning"
                               href="{link editAddr}?id={$address['id_location']}">Edituj</a>
                        </td>
                        <td>
                            <form action="{link deleteAddr}" method="post"
                                  onsubmit="return confirm('Opravdu chcete smazat adresu?')">
                                <input type="hidden" name="id_location" value="{$address['id_location']}">
                                <input class="btn btn-danger" type="submit" value="Smaž">
                            </form>
                        </td>
                    </tr>
                {/foreach}
            </table>
        {/if}
        {ifset $page}
            <ul class="pagination">
                {if $page > 2}
                    <li class="page-item">
                        <a class="page-link" href="{link addresses}?page=1">První</a>
                    </li>
                {/if}

                {if $page > 1}
                    <li class="page-item">
                        <a class="page-link" href="{link addresses}?page={$page -1}">Předchozí</a>
                    </li>
                {/if}

                {for $i=1; $i<=$maxpage; $i++}
                    {if $i != $page}
                        <li class="page-item">
                            <a class="page-link" href="{link addresses}?page={$i}">{$i}</a>
                        </li>
                    {else}
                        <li class="page-item active">
                            <a class="page-link" href="{link addresses}?page={$i}">{$i}</a>
                        </li>
                    {/if}
                {/for}


                {if $page < $maxpage}
                    <li class="page-item">
                        <a class="page-link" href="{link addresses}?page={$page +1}">Další</a>
                    </li>
                {/if}

                {if $page < $maxpage -1}
                    <li class="page-item">
                        <a class="page-link" href="{link addresses}?page={$maxpage}">Poslední</a>
                    </li>
                {/if}

            </ul>

        {/ifset}
    </div>
{/block}