{extends layout.latte}

{block title}TITLE OF PAGE{/block}

{block body}
    <div class="container">
        <h1>Editace schůzky</h1>
        <script> document.write(decodeHTML({$message})); </script>
        <row>
            <form action="{link editMeeting}?id={$meeting['id_location']}" method="post">
                <label for="start">Start: </label>
                <input id="start" name="start" type="date" class="form-control" data-date-inline-picker="false"
                       data-date-open-on-focus="true" value="{$meeting['start']}"/>
                <br>

                <label for="description">Popis: </label>
                <input id="description" type="text" class="form-control" name="description" value="{$meeting['description']}" required>
                <br>

                <label for="duration">Doba trvání: </label>
                <input id="duration" class="form-control" type="text" name="duration" value="{$meeting['duration']}">
                <br>

                <label for="id_location">Místo konání: </label><br>
                <select class="form-control" id="id_location" name="id_location" required>
                    {foreach $location as $address }
                        <option value=' {$address['id_location']}' {if $address['id_location'] == $meeting['id_location']} selected="" {/if} >
                            {if $address['name']}{$address['name']} - {/if}
                            {if $address['street_name']}{$address['street_name']}, {/if}
                            {if $address['street_number']}{$address['street_number']}, {/if}
                            {if $address['city']}{$address['city']}, {/if}
                            {if $address['zip']}{$address['zip']}{/if}
                        </option>
                    {/foreach}
                </select><br> <br>
                <input class="btn btn-success" type="submit" value="Uložit">
                <br>
            </form>
        </row>
        <br>
        <a class="btn btn-warning" href="{link index}">Storno</a>
    </div>
{/block}