{extends layout.latte}

{block title}TITLE OF PAGE{/block}

{block body}
    <div class="container">
        <h1>Editace</h1>
        <script> document.write(decodeHTML({$message})); </script>
        {ifset $person["id_person"]}
            <row>
                <form action="{link adminEdit}?id={$person['id_person']}" method="post">
                    <label for="nickname"><font color="red">*</font>Uživatelské jméno: </label>
                    <input class="form-control" id="nickname" type="text" name="nickname" value="{$person['nickname']}" required>
                    <br>
                    <label for="first_name">Jméno: </label>
                    <input class="form-control" id="first_name" type="text" name="first_name" value="{$person['first_name']}">
                    <br>
                    <label for="last_name">Příjmení: </label>
                    <input id="last_name" class="form-control" type="text" name="last_name" value="{$person['last_name']}">
                    <br>
                    <label for="birth_day">Datum narození: </label>
                    <input id="birth_day" class="form-control" name="birth_day" type="date" data-date-inline-picker="false"
                           data-date-open-on-focus="true" value="{$person['birth_date_formated']}"/>
                    <br>
                    <label for="height">Výška: </label>
                    <input id="height" type="number" class="form-control" name="height" value="{$person['height']}">
                    <br>
                    <label for="gender">Pohlaví: </label>
                    <select id="gender" name="gender" class="form-control" >
                        <option {if $person['gender']=='none'} selected="" {/if} value="none">Neuvedeno</option>
                        <option {if $person['gender']=='male'} selected="" {/if} value="male">Muž</option>
                        <option {if $person['gender']=='female'} selected="" {/if} value="female">Žena</option>
                        <option {if $person['gender']=='other'} selected="" {/if} value="other">Jiné</option>
                    </select> <br>
                    <label for="admin">Administrátor: </label>
                    <input id="admin" name="admin" type="checkbox" {if $person['admin']} checked="" {/if}>
                    <br>
                    <br>
                    <label for="id_loc">Adresa: </label><br>
                    <select id="id_loc" name="id_loc" class="form-control" >
                        {foreach $location as $address }
                            <option value=' {$address['id_location']}' {if $address['id_location']==$person['id_location'] } selected="" {/if} >
                                {if $address['name']}{$address['name']} - {/if}
                                {if $address['street_name']}{$address['street_name']}, {/if}
                                {if $address['street_number']}{$address['street_number']}, {/if}
                                {if $address['city']}{$address['city']}, {/if}
                                {if $address['zip']}{$address['zip']}{/if}
                            </option>
                        {/foreach}
                    </select>
                    <br>
                    <input class="btn btn-success" type="submit" value="Uložit">
                    <br>
                    <label>Povinné parametry jsou označeny symbolem *</label>
                </form>
            </row>
        {/ifset}
        <br>
        <a class="btn btn-warning" href="{link index}">Storno</a>
    </div>
{/block}