{extends layout.latte}

{block title}TITLE OF PAGE{/block}

{block body}
    <div class="container">
        <h1>Editace adresy</h1>
        <script> document.write(decodeHTML({$message})); </script>
        <row>
            <form action="{link editAddr}?id={$location['id_location']}" method="post">
                <label for="name">Název místa: </label>
                <input id="name" type="text" name="name" class="form-control" value="{$location['name']}">
                <br>
                <label for="street_name">Ulice: </label>
                <input id="street_name" type="text" class="form-control" name="street_name" value="{$location['street_name']}">
                <br>
                <label for="street_number">Číslo popisné: </label>
                <input id="street_number" class="form-control" type="number" name="street_number" value="{$location['street_number']}">
                <br>
                <label for="city">Město: </label>
                <input id="city" type="text" name="city" value="{$location['city']}" class="form-control">
                <br>
                <label for="zip">ZIP: </label>
                <input id="zip" type="text" name="zip" value="{$location['zip']}" class="form-control" >
                <br>
                <label for="country">Stát: </label>
                <input id="country" type="text" name="country" value="{$location['country']}" class="form-control" >
                <br>
                <input class="btn btn-success" type="submit" value="Uložit">
                <br>
                <label>Povinné parametry jsou označeny symbolem *</label>
            </form>
        </row>
        <br>
        <a class="btn btn-warning" href="{link index}">Storno</a>
    </div>
{/block}