{extends layout.latte}

{block title}Sprava osob{/block}

{block body}
    <div class="container">
        <script> document.write(decodeHTML({$message})); </script>
        <div class="row">
            <div class="col-md-4">
                <h1>Výpis osob</h1>
                <br>
                <form action="{link index}" method="get">
                    <div class="form-group">
                        <label for="filter">Seznam lze vyfiltrovat dle příjmení:</label>
                        <br>
                        <input id="filter" type="text" name="filter">
                    </div>
                    <input type="submit" value="Filtruj" class="btn btn-secondary">
                </form>

                <br>
            </div>

            <div class="col-md-8">
                {if !empty($_SESSION) && $_SESSION['user']['admin']}
                    <table class="table table-striped table-hover table-border" border="1">
                        <tr>
                            <th><b>Jméno</b></th>
                            <th><b>Příjmení</b></th>
                            <th><b>Uživatelské jméno</b></th>
                            <th><b>Adresa</b></th>
                            <th><b>Počet kontaktů</b></th>
                            <th><b>Editovat</b></th>
                            <th><b>Odstranit</b></th>

                        </tr>
                        {foreach $people as $person}
                            <tr>
                                {if $person['first_name']}
                                    <td>{$person['first_name']}</td>
                                {else}
                                    <td>Nezadané</td>
                                {/if}

                                {if $person["last_name"]}
                                    <td>{$person['last_name']}</td>
                                {else}
                                    <td>Nezadané</td>
                                {/if}

                                <td>{$person['nickname']}</td>

                                {if $person["id_location"]}
                                    <td>{$person['street_name']} {$person['street_number']} {$person['city']} {$person['zip']}</td>
                                {else}
                                    <td>Nezadané</td>
                                {/if}

                                <td>{$person[contact_count] ? $person["contact_count"]: 0}</td>
                                <td>
                                    <a class="btn btn-warning"
                                       href="{link edit}?id={$person['id_person']}">Edituj</a>
                                </td>
                                <td>
                                    <form action="{link delete}" method="post"
                                          onsubmit="return confirm('Opravdu chcete smazat osobu?')">
                                        <input type="hidden" name="id_person" value="{$person['id_person']}">
                                        <input class="btn btn-danger" type="submit" value="Smaž">
                                    </form>
                                </td>
                            </tr>
                        {/foreach}
                    </table>
                {else}
                    <table class="table table-striped table-hover table-border" border="1">
                        <tr>
                            <th><b>Jméno</b></th>
                            <th><b>Příjmení</b></th>
                            <th><b>Uživatelské jméno</b></th>
                            <th><b>Adresa</b></th>
                            <th><b>Počet kontaktů</b></th>

                        </tr>
                        {foreach $people as $person}
                            <tr>
                                {if $person['first_name']}
                                    <td>{$person['first_name']}</td>
                                {else}
                                    <td>Nezadané</td>
                                {/if}

                                {if $person["last_name"]}
                                    <td>{$person['last_name']}</td>
                                {else}
                                    <td>Nezadané</td>
                                {/if}

                                <td>{$person['nickname']}</td>

                                {if $person["id_location"]}
                                    <td>{$person['street_name']} {$person['street_number']} {$person['city']} {$person['zip']}</td>
                                {else}
                                    <td>Nezadané</td>
                                {/if}

                                <td>{$person[contact_count] ? $person["contact_count"]: 0}</td>
                            </tr>
                        {/foreach}
                    </table>
                {/if}
                {ifset $page}
                    <ul class="pagination">
                        {if $page > 2}
                            <li class="page-item">
                                <a class="page-link" href="{link index}?page=1">První</a>
                            </li>
                        {/if}

                        {if $page > 1}
                            <li class="page-item">
                                <a class="page-link" href="{link index}?page={$page -1}">Předchozí</a>
                            </li>
                        {/if}

                        {for $i=1; $i<=$maxpage; $i++}
                            {if $i != $page}
                                <li class="page-item">
                                    <a class="page-link" href="{link index}?page={$i}">{$i}</a>
                                </li>
                            {else}
                                <li class="page-item active">
                                    <a class="page-link" href="{link index}?page={$i}">{$i}</a>
                                </li>
                            {/if}
                        {/for}


                        {if $page < $maxpage}
                            <li class="page-item">
                                <a class="page-link" href="{link index}?page={$page +1}">Další</a>
                            </li>
                        {/if}

                        {if $page < $maxpage -1}
                            <li class="page-item">
                                <a class="page-link" href="{link index}?page={$maxpage}">Poslední</a>
                            </li>
                        {/if}

                    </ul>

                {/ifset}

            </div>
        </div>

        <br>
        <br>
    </div>
{/block}