{extends layout.latte}

{block title}LOGIN{/block}

{block body}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-0"></div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <h1 class="display-4">Přihlášení</h1>
                <script> document.write(decodeHTML({$message})); </script>
                <form action="{link login}" method="post">
                    <label for="login">Uživatelké jméno</label> <br>
                    <input class="form-control" type="text" name="nickname" required> <br>
                    <label for="pass">Heslo</label> <br>
                    <input class="form-control" type="password" name="pass" required> <br>
                    <input class="btn btn-outline-info" type="submit" value="Přihlásit"><br> <br>
                    <a href="{link register}">Registrace</a>
                </form>
            </div>
        </div>
    </div>
{/block}