{extends layout.latte}

{block title}LOGIN{/block}

{block body}
    <div class="container">
    <br>
    <div class="col-md-12 col-lg-12 col-sm-12">
        <h3 class="display-4" style="display:inline-block">Správa schůzek</h3>
        {if !empty($_SESSION)}<a href="{link addMeeting}" style="margin-left: 30px; display:inline-block "
                                 class="btn btn-success"> Vytvořit </a><br>{/if}
        <script> document.write(decodeHTML({$message})); </script>
        {if empty($_SESSION)}
            <table class="table table-striped table-hover table-border" border="2">
                <tr>
                    <th><b>Start</b></th>
                    <th><b>Popis</b></th>
                    <th><b>Doba trvání</b></th>
                    <th><b>Místo konání</b></th>
                </tr>
                {foreach $meetings as $meeting}
                    <tr>
                        <td>{$meeting['start_formated']}</td>

                        <td>{$meeting['description']}</td>

                        {if $meeting["duration"]}
                            <td>{$meeting['duration']}</td>
                        {else}
                            <td>Nezadané</td>
                        {/if}

                        <td>{$meeting['street_name']} {$meeting['street_number']} {$meeting['city']} {$meeting['zip']}</td>
                    </tr>
                {/foreach}
            </table>
        {else}
            <table class="table table-striped table-hover table-border" border="2">
                <tr>
                    <th><b>Start</b></th>
                    <th><b>Popis</b></th>
                    <th><b>Doba trvání</b></th>
                    <th><b>Místo konání</b></th>
                    <th><b>Editace</b></th>
                    <th><b>Odstranění</b></th>
                </tr>
                {foreach $meetings as $meeting}
                    <tr>
                        <td>{$meeting['start_formated']}</td>

                        <td>{$meeting['description']}</td>

                        {if $meeting["duration"]}
                            <td>{$meeting['duration']}</td>
                        {else}
                            <td>Nezadané</td>
                        {/if}

                        <td>{$meeting['street_name']} {$meeting['street_number']} {$meeting['city']} {$meeting['zip']}</td>

                        <td>
                            <a class="btn btn-warning"
                               href="{link editMeeting}?id={$meeting['id_meeting']}">Edituj</a>
                        </td>
                        <td>
                            <form action="{link deleteMeeting}" method="post"
                                  onsubmit="return confirm('Opravdu chcete smazat schůzku?')">
                                <input type="hidden" name="id_location" value="{$meeting['id_meeting']}">
                                <input class="btn btn-danger" type="submit" value="Smaž">
                            </form>
                        </td>
                    </tr>

                {/foreach}
            </table>
        {/if}
        {ifset $page}
            <ul class="pagination">
                {if $page > 2}
                    <li class="page-item">
                        <a class="page-link" href="{link meetings}?page=1">První</a>
                    </li>
                {/if}

                {if $page > 1}
                    <li class="page-item">
                        <a class="page-link" href="{link meetings}?page={$page -1}">Předchozí</a>
                    </li>
                {/if}

                {for $i=1; $i<=$maxpage; $i++}
                    {if $i != $page}
                        <li class="page-item">
                            <a class="page-link" href="{link meetings}?page={$i}">{$i}</a>
                        </li>
                    {else}
                        <li class="page-item active">
                            <a class="page-link" href="{link meetings}?page={$i}">{$i}</a>
                        </li>
                    {/if}
                {/for}


                {if $page < $maxpage}
                    <li class="page-item">
                        <a class="page-link" href="{link meetings}?page={$page +1}">Další</a>
                    </li>
                {/if}

                {if $page < $maxpage -1}
                    <li class="page-item">
                        <a class="page-link" href="{link meetings}?page={$maxpage}">Poslední</a>
                    </li>
                {/if}

            </ul>

        {/ifset}
    </div>
{/block}