{extends layout.latte}

{block title}Registrace{/block}

{block body}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-0"></div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <h1 class="display-4">Registrace</h1>
                <br>
                <form action="{link register}" method="post">
                    <label for="login">Uživatelké jméno</label> <br>
                    <input class="form-control" type="text" name="nickname" required> <br>
                    <label for="pass">Heslo</label> <br>
                    <input class="form-control" type="password" name="pass" required> <br>
                    <label for="pass">Heslo znovu</label> <br>
                    <input class="form-control" type="password" name="pass-check" required> <br>
                    <input class="btn btn-outline-info" type="submit" value="Zaregistrovat">
                    <br> <br>
                    <span style="color: #c82333">{$message}</span>
                </form>
            </div>
        </div>
    </div>
{/block}